@model IEnumerable<TTTM>
@if (Model.Count() > 0)
{
    <section style="margin-top:100px" class="h-100 h-custom ">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12">
                    <div class="card card-registration card-registration-2" style="border-radius: 15px; background-color:#fafafa">
                        <div class="card-body p-0 bg-dark">
                            <div class="row g-0 mbr-bg-white">
                                <div class="col-lg-7 ">
                                    <div class="p-5">
                                        <div class="d-flex justify-content-between align-items-center mb-5">
                                            <h2 class="fw-bold mb-0 text-white">Shopping Cart</h2>
                                            <h6 class="mb-0 text-muted">@Model.Count()</h6>
                                        </div>
                                        <hr class="my-4">
                                        @foreach (var item in Model)
                                        {
                                            <div class="row mb-4 d-flex justify-content-between align-items-center">
                                                <div class="col-md-2 col-lg-2 col-xl-2">
                                                    <img src="@item.Product.ImageUrl"
                                                         class="img-fluid rounded-3">
                                                </div>
                                                <div class="col-md-3 col-lg-3 col-xl-3">
                                                    <h6 class="text-white mb-0">@item.Product.Name</h6>
                                                </div>
                                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1 ">
                                                    @if(item.Product.Price > 0)
                                                    {
                                                        <h6 class="text-white mb-0">@(item.Product.Price)</h6>
                                                    }
                                                    else
                                                    {
                                                        <h6 class="text-white mb-0">Free to play</h6>
                                                    }
                                                </div>

                                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                    <a asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart"
                                                       asp-route-pID="@item.Product.Id" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Del</a>
                                                </div>
                                            </div>
                                           
                                        }
                                        <hr class="my-4">
                                        <div class="pt-5">
                                            <h6 class="mb-0 ">
                                                <a class="text-body " asp-controller="Product" asp-action="Shop">
                                                    <p class="text-white">Quay trở về trang chủ</p>
                                                    
                                                </a>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 bg-grey ">
                                    <div class="p-5">
                                        <h4 class="fw-bold mb-5 mt-2 pt-1 text-white">Summary</h4>
                                        <hr class="my-4">
                                        <div class="d-flex justify-content-between mb-5">
                                            <h5 class="text-uppercase text-white">Total price</h5>
                                            <h5 class="text-white">@ViewBag.TotalCart.ToString("C")</h5>
                                        </div>

                                        <a asp-controller="Order" asp-action="Checkout">
                                            <button type="button"
                                                    class="btn btn-primary w-100 text-center text-white"
                                                    data-mdb-ripple-color="dark">
                                                Thanh toán
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <div style="margin-bottom:337px" class="container">
        <br><br><br><br>
        <div class="text-center">
            <img src="https://www.svgrepo.com/show/17356/empty-cart.svg" class="img-fluid"
                 style="width: 200px; height: 200px; margin-left: auto; margin-right: auto" alt="...">
            <br>
            <h1><strong>Your cart is empty</strong></h1>
            <br>
            <p>
                Before proceed to checkout you must add some products to your shopping cart. You will find a lot of
                interesting products on our "Shop" page.
            </p>
            <a class="btn btn-primary w-20" asp-controller="Product" asp-action="Shop">
                Start Shopping
            </a>
        </div>
    </div>
}
