@model SteamNextGen.Models.Product
<br />
<div style="margin-bottom:448px" class="container">
    <div class="card-wrapper">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="image-wrapper">
                    <img src="@Model.ImageUrl"
                         alt="Website Builder">
                </div>
            </div>
            <div class="col-12 col-lg">
                <div class="text-box">
                    <h5 class="mbr-title mbr-fonts-style display-2">
                        <strong>@Model.Name</strong>
                    </h5>
                    <h4 class="mbr-text mbr-fonts-style display-7">
                        @Model.Detail
                    </h4>
                    <div class="cost">
                        @if (Model.Price != 0)
                        {
                            <span class="currentcost mbr-fonts-style pr-2 display-2">Giá tiền: @Model.Price.ToString("c")</span>
                        }
                        else
                        {
                            <span class="currentcost mbr-fonts-style pr-2 display-2">Free to play</span>
                        }

                    </div>
                    <div class="mbr-section-btn pt-3">
                        <a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-pId="@Model.Id" class="btn btn-primary display-4">
                            <span class="mbrib-cart-add mbr-iconfont mbr-iconfont-btn"></span>Add to cart&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
