@model SteamNextGen.Models.Product
<br />
<div class="card bg-dark" style="max-width:30rem;height:500px;margin:0 auto;padding:10px;">
    <img src="@Model.ImageUrl" alt="Website Builder">
    <div class="card-body">
        <h3>
            <strong>@Model.Name</strong>
        </h3>
        <h4">
                        @Model.Detail
            </h4>
            <div class="cost">
                        @if (Model.Price != 0)
                        {
                    <span>Giá tiền: @Model.Price.ToString("c")</span>
                        }
                        else
                        {
                    <span>Free to play</span>
                        }

            </div>
            <div class="mbr-section-btn pt-3">
                        @if (Model.Price != 0)
                        {
                    <a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-pId="@Model.Id" class="btn btn-primary display-4">
                        <span class="mbrib-cart-add mbr-iconfont mbr-iconfont-btn"></span>Buy&nbsp;
                    </a>
                        }
                        else
                        {
                    <a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-pId="@Model.Id" class="btn btn-primary display-4">
                        <span class="mbrib-cart-add mbr-iconfont mbr-iconfont-btn"></span>Download&nbsp;
                    </a>
                        }
            </div>
    </div>
</div>
<br />
